.grid-container{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
}



.grid{
    width: 600px;
    height: auto;
    margin: 0 auto;
}

image{
    width: 100px;
    height:auto;
}

.g-col-6{
    border-radius: 1rem;
    margin-bottom: 1rem;;
}


.profile{
    border-radius: 50%;
    width:20rem;
    height:20rem;
}


.card{
    padding:10px;
    width: 60rem;
    margin-bottom: 5rem;
}

.book-details,.course-details{
    width: 80rem;
    margin: 0 auto;
}

.img-fluid{
    width: 30rem;
    height: auto;    
}

